.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.center {
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    padding: 5px;
    margin: 0 auto 10px;
    font-size: 18px;
}

.header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.your-score {
    color: green;
}

.computer-score {
    color: red;
    text-align: right;
}

.turn {
    text-align: center;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-gap: 1px;
    width: fit-content;
}

.cell {
    position: relative;
    outline: 1px solid #3A3960;
    padding: 0;
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #FAFFC5;
}

.unselectable {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For WebKit browsers like Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older versions of IE */
}

.line {
    position: absolute;
    width: 1px;
    height: 10px;
    background: #5E686D;
}

.line.bottom-right {
    bottom: -4%;
    right: 5%;
    transform: rotate(-45deg);
}

.line.bottom-center {
    bottom: 0;
    left: 50%;
}

.line.bottom-left {
    bottom: -4%;
    left: 5%;
    transform: rotate(45deg);
}

.line.top-left {
    top: -4%;
    left: 5%;
    transform: rotate(-45deg);
}

.line.top-right {
    top: -4%;
    right: 5%;
    transform: rotate(45deg);
}

.line.top-center {
    top: 0;
    left: 50%;
}

.line.center-left{
    top: 40%;
    left: 8%;
    transform: rotate(90deg);
}

.line.center-right{
    top: 40%;
    right: 8%;
    transform: rotate(90deg);
}

.selecting {
    color: #A9BFA8;
}